@page
@model SevStudentsApp.Pages.Courses.UpdateModel
@{
}

<h2>Update Course</h2>
@if (!Model.errorMessage.Equals(""))
{
    <h2><strong>@Model.errorMessage</strong></h2>
}

<form method="POST">
    <div class="row mb-3">
        <input type="hidden" class="form-control" name="id" value="@Model.courseDto.Id" />

    </div>

    <div class="row mb-3">
        <label for="description" class="col-md-1 col-form-label">Μάθημα</label>
        <div>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter description" value="@Model.courseDto.Description" />

        </div>
    </div>

    <div class="row mb-3">
        <label for="teacherid" class="col-md-1 col-form-label">Καθηγητής</label>
        <div>
            <input type="text" class="form-control" name="teacherid" id="teacherid" placeholder="Enter teacher" value="@Model.courseDto.TeacherId" />

        </div>
    </div>
    </div>

    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-md-1 col-md-3 d-grid">
            <a href="/" role="button" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>