@page
@model SevStudentsApp.Pages.Teachers.IndexModel
@{
}

<h2>List of Teachers</h2>

<a class="btn btn-primary btn-sm" href="/Teachers/Create">New Teacher</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.teachers is not null)
        {
            @foreach (var teacher in Model.teachers)
            {
                <tr>
                    <td>@teacher.Id</td>
                    <td>@teacher.Firstname</td>
                    <td>@teacher.Lastname</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/Teachers/Update?id=@teacher.Id">Update</a>
                        <a class="btn btn-primary btn-sm" href="/Teachers/Delete?id=@teacher.Id">Delete</a>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>