@page
@model SevStudentsApp.Pages.Teachers.UpdateModel
@{
}

<h2>Update Teacher</h2>
@if (!Model.errorMessage.Equals(""))
{
    <h2><strong>@Model.errorMessage</strong></h2>
}

<form method="POST">
    <div class="row mb-3">
        <input type="hidden" class="form-control" name="id" value="@Model.teacherDto.Id" />

    </div>

    <div class="row mb-3">
        <label for="firstname" class="col-md-1 col-form-label">Όνομα</label>
        <div>
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter firstname" value="@Model.teacherDto.Firstname" />

        </div>
    </div>

    <div class="row mb-3">
        <label for="lastname" class="col-md-1 col-form-label">Επώνυμο</label>
        <div>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter lastname" value="@Model.teacherDto.Lastname" />

        </div>
    </div>
    </div>

    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-md-1 col-md-3 d-grid">
            <a href="/" role="button" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>